<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create New Skill</h1>

    <form action="/devskills" method="POST">
        <input type="text" name="devskill" placeholder="Skill">
        <button>Create Skill</button>
    </form>
</body>
</html>